body, html {
    margin: 0;
    padding: 0;
    background: #E0E0E0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 640px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
    border-radius: 4px;
    margin: 96px auto 0;
}

.event {
    padding: 36px;
    color: white;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    background-image: url('images/img_basketball.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

#title {
    font-weight: 500;
}

.event *:first-child {
    margin-top: 0;
}

.event *:last-child {
    margin-bottom: 0;
}

.add {
    padding: 36px;
    background: white;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.footer {
    text-align: center;
    margin-top: 24px;
    color: #424242;
}

a {
    color: #424242;
}